@import "../../src/scss/for-blocks";

.newsletter {
  background: var(--main-blue);
  color: var(--white);

  &__container {
    position: relative;
  }

  &__row {
    display: block;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    visibility: visible;
    margin-top: 3.5rem;
  }

  .input {
    border: none;
    border-radius: 25px;
    height: 3.8rem;
    width: 100%;
    padding: 2px 0 2px 2.5rem;
    background-color: var(--white);

    &-form {
      width: 100%;
      margin-bottom: 0;
    }

    &__error {
      color: var(--yellow);
      margin-left: 2.5rem;
    }

    &--error {
      border: 2px solid var(--yellow);
      padding: 0 0 0 2.3rem;
    }

    &::placeholder {
      color: var(--dark-black);
      font-size: 1.4rem;
      transition: all 0.5s;
    }

    &:focus {
      &::placeholder {
        transform: translateY(-16px);
        font-size: 1rem;
        color: var(--black);
      }
    }
  }

  &__button {
    padding: 11px 33px;
    margin-left: 1.3rem;
    color: var(--main-blue);
  }
}

@include min-size(md) {
  .newsletter {
    &__button {
      padding: 11px 60px;
      margin-left: 5rem;
    }

    &__row {
      margin-bottom: 3rem;
    }

    .form-valid {
      top: 3rem;
      margin: 0;
      width: 80%;
    }
  }
}

@include min-size(lg) {
  .newsletter {
    padding: 47px 0;

    &__form-section {
      width: 50%;
    }

    &__title,
    form {
      width: 50%;
    }

    &__form {
      margin-top: 0;
    }

    .form-valid {
      top: -1rem;
      width: 96%;
      padding-left: 3rem;
      margin-left: 0;

      &__col {
        width: 100%;
      }

      &__title {
        max-width: initial;
      }
    }

    &__row {
      margin: 0;
      display: flex;
      align-items: flex-start;
    }

    &__title {
      margin: 0;
    }

    .input {
      border-radius: 0;
      height: 4.2rem;
    }

    &__button {
      padding: 12px 60px 10px;
      margin-top: 2px;
      margin-left: 5.2rem;
    }
  }
}

@include min-size(xl) {
  .newsletter {
    .form-valid {
      margin-left: 5rem;
    }
  }
}

@include min-size(xxl) {
  .newsletter {
    .form-valid {
      margin-left: 7rem;
    }
  }
}
