@import "../../src/scss/for-blocks";

.careers-scroll {
  padding-top: 4.5rem;

  &__row {
    width: 100%;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__description {
    margin-bottom: 3rem;
  }

  &__button {
    display: inline-block;
    margin-bottom: 3rem;
  }

  &__item {
    background-color: var(--grey);
    padding: 2.5rem 2rem 2.5rem 2.5rem;
    margin: 0 2rem;
    width: calc(100vw - 4rem);
    height: inherit;
  }

  &__item-title {
    margin-bottom: 2rem;
  }

  .slick-track {
    display: flex;
  }
}

@include min-size(md) {
  .careers-scroll {
    $this: &;

    padding-bottom: 4.5rem;

    &__item#{$this}__item#{$this}__item#{$this}__item#{$this}__item#{$this}__item#{$this}__item {
      width: 100%;
      background-color: var(--grey);
    }
  }
}

@include min-size(lg) {
  .careers-scroll {
    $this: &;

    padding-bottom: 0;

    &__container {
      flex-flow: row;
    }

    &__row {
      width: 50%;

      &-text {
        padding: 12rem 5% 0 0;
      }

      &-content {
        padding-right: 5%;
      }

      &-content#{$this}__row-content {
        margin-bottom: 0;
      }
    }

    &__item {
      padding: 7rem 3rem 7rem 9rem;
      margin: 0 0 2rem;
      width: 100%;
      height: max-content;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__item-title {
      margin-bottom: 4rem;
    }

    .slick-track {
      //display: block;
      flex-direction: column;
    }

    .slick-slide {
      height: max-content;
    }

    .slick-dots {
      width: auto;
      height: fit-content;
      top: 0;
      bottom: 0;
      right: 4.1%;
      margin: auto;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
    }

    .slick-list.slick-list {
      padding: 0 0 20%;
    }
  }
}

@include min-size(xl) {
  .careers-scroll {
    &__row {
      &-text {
        width: 42.2%;
        padding-right: 9.7%;
        padding-left: 8.33%;
      }

      &-content {
        width: 57.8%;
        padding-right: 8.44%;
      }
    }
  }
}
