@import "../../src/scss/for-blocks";

.browse-scroll {
  &__description {
	background: var(--off-white);
  }

  &__items {
	overflow-x: scroll;
	display: flex;
  }

  &__item {
	display: block;
  }
}

@include min-size(md) {
  .browse-scroll {
  }
}

@include min-size(lg) {
  .browse-scroll {
  }
}

@include min-size(xl) {
  .browse-scroll {
  }
}
