@import "../../src/scss/for-blocks";

.image-text {
  &__row {
    flex-direction: column;
    width: 100%;
  }

  &__arrow {
    margin-left: 2rem;
    transition: 0.5s;
    margin-top: 0.3rem;

    &-rotate {
      transform: rotate(90deg);
    }
  }

  &__title {
    width: 90%;

    &-section {
      display: flex;
      align-items: flex-start;
      padding: 2.5rem 0;
    }
  }

  &__columns-with-button {
    transition: 0.5s;
    max-height: 0;
    overflow: hidden;
  }

  &__column-image {
    transition: 0.4s;
    max-height: 0;
    overflow: hidden;
    height: 25rem;
    width: 100vw;
    margin-left: -2rem;
    margin-right: -2rem;
  }

  &__column-image--show {
    max-height: 25rem;
  }

  &__columns-with-button--show {
    max-height: 100%;
    padding-bottom: 5rem;
  }

  &__column {
    &-content {
      width: 100%;
    }
  }

  &__columns {
    justify-content: space-between;
    margin-bottom: 2.5rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in;

    &:hover {
      transform: scale(1.05);
    }
  }
}

@include min-size(md) {
  .image-text {
    padding-top: 10rem;

    &__column {
      min-width: 48%;

      &:first-of-type {
        margin-right: 2.5rem;
      }
    }

    &__columns-with-button {
      padding-bottom: 5rem;
    }

    &__arrow {
      display: none;
    }

    &__title {
      margin-bottom: 3.5rem;
      width: 100%;
    }

    &__columns {
      display: flex;
      margin-bottom: 4.5rem;
    }

    &__columns-with-button,
    &__column-image {
      max-height: 100%;
    }
  }
}

@include min-size(lg) {
  .image-text {
    $this: &;

    padding-bottom: 10rem;

    &__column {
      &-image {
        width: 46%;
        height: 101%;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
      }

      &-content {
        width: 50%;
      }
    }

    &__columns-with-button {
      padding-bottom: 0;
      overflow: unset;
    }

    &__title-section {
      padding: 0;
    }

    &__row {
      flex-direction: row-reverse;
      justify-content: space-between;

      &--reverse#{$this}__row--reverse {
        flex-direction: row;
      }
    }
  }
}
