@import "../../src/scss/for-blocks";

.news-section {
  $this: &;

  &--white {
    background-color: var(--white);
  }

  &--off-white {
    background-color: var(--off-white);
  }

  &--white,
  &--off-white {
    #{$this}__item {
      background-color: transparent;
    }
  }

  &__container {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  &__row {
    &-title {
      margin-bottom: 1.5rem;
    }

    &-news {
      width: 100%;
      margin-bottom: 1.5rem;
    }

    &-button {
      display: none;
      justify-content: center;
      width: 100%;

      &--left {
        justify-content: flex-start;
      }
    }
  }

  &__title {
    &--link {
      color: var(--black);
      text-decoration: none;
    }

    &--desktop {
      display: none;
    }
  }

  &__button {
    font-family: var(--font-aeonik-regular);
  }

  &__item {
    background-color: var(--off-white);
    padding: 3rem 2rem 2.3rem 2.5rem;
    margin: 0 2rem;
    width: calc(100vw - 4rem);
    max-width: 382px;
    text-decoration: none;
    color: var(--black);

    &:hover {
      #{$this}__item-read-more {
        &::after {
          margin-left: 6rem;
        }
      }
    }
  }

  &__item-top-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  &__item-categories {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__item-category {
    height: 11px;
    width: 11px;
    background-color: var(--silver-sand);
    border-radius: 50%;
    display: inline-block;
    margin-left: 1rem;

    &:first-child {
      background-color: var(--erp);
    }

    &:last-child {
      background-color: var(--green);
    }
  }

  &__item-title {
    margin-bottom: 3rem;
    max-width: 82%;
  }

  &__item-read-more {
    color: var(--black);
    text-decoration: none;
    position: relative;
    padding: 1rem 0;

    &::after {
      content: url("../../assets/img/arrow-thin.svg");
      transition: all 0.5s;
      margin-left: 4rem;
    }
  }
}

@include min-size(md) {
  .news-section {
    $this: &;

    background-color: var(--grey);

    &--white {
      background-color: var(--white);
    }

    &--off-white {
      background-color: var(--off-white);
    }

    &__row {
      &-title {
        margin-bottom: 5rem;
      }

      &-news {
        justify-content: flex-start;
      }
    }

    &__item {
      width: 48%;
      margin: 0;
      background-color: var(--off-white);

      &:first-child {
        padding-left: 0;
      }
    }

    .slick-slider {
      #{$this}__item {
        width: 360px;
        margin: 0 2rem;
        padding-left: 2.5rem;
      }
    }
  }

  .product-category .news-section.news-section.news-section {
    $news-section-item: news-section__item;

    background-color: var(--grey);

    .#{$news-section-item}.#{$news-section-item}.#{$news-section-item} {
      background-color: var(--off-white);
    }
  }
}

@include min-size(lg) {
  .news-section {
    $this: &;

    &__container {
      margin-top: 9rem;
      margin-bottom: 13rem;
    }

    &__row {
      &-title {
        margin-bottom: 12rem;
      }

      &-news {
        justify-content: space-between;
        margin-bottom: 7rem;
      }

      &-button {
        display: flex;
      }
    }

    &__title {
      display: none;

      &--desktop {
        display: block;
      }
    }

    &__item {
      width: 32%;
      max-width: 515px;
      margin: 0;

      &:first-child {
        padding-left: 2.5rem;
      }
    }

    &__item-title {
      margin-bottom: 5rem;
    }
  }

  .sidebar-and-content {
    &__content-container .news-section {
      &__bg {
        left: -3rem;
      }

      &__container {
        margin-bottom: 10rem;
      }

      &__row {
        &-title {
          margin-bottom: 8rem;
        }

        &-news {
          margin-bottom: 4.5rem;
        }
      }

      &__item {
        width: 47%;
        max-width: 382px;
        padding: 1rem 0;

        &:hover {
          background-color: var(--grey);
        }
      }

      &__item-title {
        max-width: 100%;
        margin-bottom: 0;
      }

      &__item-read-more {
        display: none;
      }
    }
  }
}

@include min-size(xl) {
  .sidebar-and-content {
    &__content-container .news-section {
      &__bg {
        left: -5rem;
      }
    }
  }
}

@include min-size(xxl) {
  .news-section {
    $this: &;

    &__item {
      width: auto;
    }

    &--large {
      #{$this}__item {
        width: auto;
      }
    }

    &--thin {
      #{$this}__row {
        padding-left: 13.5rem;
      }
    }
  }

  .sidebar-and-content {
    &__content-container .news-section {
      &__row-news {
        justify-content: flex-start;
      }

      &__item {
        &:first-child {
          margin-right: 15rem;
        }
      }

      &__bg {
        left: -13rem;
      }
    }
  }
}
