@import "../../src/scss/for-blocks";

.product-area {
  &__container {
    position: relative;

    &::before {
      content: "";
      height: 100%;
      width: calc(100% + 4rem);
      margin-left: -2rem;
      z-index: -2;
      position: absolute;
    }

    &--off-white::before {
      background-color: var(--off-white);
    }

    &--white::before {
      background-color: var(--white);
    }
  }

  &__button {
    display: none;
  }

  &__heading {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;

    &::after {
      content: url("../../assets/img/blue-arrow.svg");
      z-index: -2;
      position: absolute;
      right: 0;
      top: 30%;
      transition: 0.5s;
    }

    &-icon {
      width: 55px;
      height: 51px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-image {
      width: 100%;
    }

    &-title {
      margin-left: 3rem;
    }

    &-name {
      display: flex;
      align-items: center;
    }
  }

  &__content {
    display: none;

    &--visible::after {
      transition: 0.5s;
      transform: rotate(90deg);
    }

    &-title {
      position: relative;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      width: max-content;
      cursor: pointer;

      &::after {
        content: "+";
        z-index: -2;
        position: absolute;
        right: -1.5rem;
        top: 0.5rem;
      }

      &--empty::after {
        content: "";
      }

      &--visible::after {
        content: "-";
      }
    }

    &-description {
      display: none;
    }

    &-button {
      margin-top: 4rem;
      margin-bottom: 4rem;
      text-transform: capitalize;
    }
  }
}

@include min-size(md) {
  .product-area {
    &__heading::after {
      top: 37%;
    }

    &__content {
      &-title::after {
        top: 1rem;
      }
    }
  }
}

@include min-size(lg) {
  .product-area {
    margin-top: 3rem;
    margin-bottom: 5rem;

    &__container::before {
      display: none;
    }

    &__button {
      display: block;
      text-transform: capitalize;
    }

    &__heading {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      &::after {
        display: none;
      }

      &-icon {
        height: 111px;
        width: 115px;
      }

      &-title {
        font-size: 3.6rem;
        line-height: 4.8rem;
      }
    }

    &__content {
      display: block;
      width: 100%;

      &-button {
        display: none;
      }

      &-title {
        width: 100%;

        &--text {
          margin-top: 1rem;
          margin-bottom: 1rem;
          font-size: 2.4rem;
          line-height: 2.9rem;
        }

        &::after {
          content: url("../../assets/img/blue-arrow.svg");
          z-index: -2;
          position: absolute;
          right: 0;
          transition: 0.5s;
        }

        &--empty::after {
          content: "";
        }

        &--visible::after {
          transition: 0.5s;
          transform: rotate(90deg);
        }
      }
    }
  }
}

@include min-size(xl) {
  .product-area {
    &__content {
      &-title {
        &--text {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@include min-size(xxl) {
  .product-area {
    &__container {
      margin-top: 6rem;
      margin-bottom: 8rem;
    }
  }
}
