@import "../../src/scss/for-blocks";

.faq-section {
  $this: &;

  background: var(--off-white);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: var(--off-white);
    width: 100vw;
    height: 100%;
    right: 0;
    z-index: -1;
    bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: var(--off-white);
    width: 100vw;
    height: 100%;
    left: 0;
    z-index: -1;
  }

  &__label {
    cursor: default;
  }

  &__row {
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
  }

  .form-options-container.active.form-options-container.active {
    overflow-y: hidden;
  }

  &__option:hover {
    background-color: transparent;
  }

  &__select {
    margin-bottom: 1.5rem;
    background: var(--white);
    padding: 0 0.5rem;
    position: relative;

    .form-select-box,
    .form-option {
      cursor: default;
    }
  }

  &__option#{$this}__option {
    cursor: default;
  }

  &__title {
    margin-bottom: 2.5rem;
  }
}

@include min-size(md) {
  .faq-section {
    background: none;

    &::before,
    &::after {
      content: none;
    }

    &__select {
      background-color: var(--grey);
      padding: 0 1.5rem;
      border: 2px solid var(--grey);

      &:hover {
        border: 2px solid var(--silver-sand);
      }
    }
  }
}

@include min-size(lg) {
  .faq-section {
    &__title {
      margin-bottom: 5.4rem;
    }

    &__p {
      height: 5rem;
      font-size: 2.2rem;
    }

    &__row {
      margin-left: auto;
      padding-left: 5rem;
      margin-top: 8.5rem;
      margin-bottom: 10rem;
    }
  }
}

@include min-size(xl) {
  .faq-section {
    &__row {
      padding-left: 8rem;
    }
  }
}
