@import "../../src/scss/for-blocks";

.faq-section {
  $this: &;

  position: relative;

  &__label {
    cursor: default;
  }

  &__arrow {
    margin-right: 3rem;
  }

  &__row {
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    width: 100%;
  }

  .select {
    &__options.active {
      overflow-y: hidden;
    }
  }

  &__option:hover {
    background-color: transparent;
  }

  &__select {
    margin-bottom: 1.5rem;
    background: var(--white);
    padding: 0 0.5rem;
    position: relative;

    .select {
      &__box,
      &__option {
        cursor: default;
      }
    }
  }

  &__option#{$this}__option {
    cursor: default;
  }

  &__title {
    margin-bottom: 2.5rem;
  }
}

@include min-size(md) {
  .faq-section {
    $this: &;

    &__select#{$this}__select#{$this}__select#{$this}__select#{$this}__select#{$this}__select#{$this}__select {
      background-color: var(--grey);
      padding: 0 1.5rem;
      border: 2px solid var(--grey);

      &:hover {
        border: 2px solid var(--silver-sand);
      }
    }

    &__arrow {
      margin-right: 0;
    }
  }
}

@include min-size(lg) {
  .faq-section {
    &__title {
      margin-bottom: 5.4rem;
    }

    &__p {
      height: 5rem;
      font-size: 2.2rem;
      padding-top: 0;
    }

    &__row {
      margin-top: 8.5rem;
      margin-bottom: 10rem;
    }
  }
}
