@import "../../src/scss/for-blocks";

.overview-wide {
  &__content {
    padding-bottom: 5rem;
  }

  &__share-mobile {
    width: 100%;
  }

  &__image {
    height: 314px;
    width: calc(100% + 4rem);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -2rem;
  }

  &__heading {
    display: flex;
    flex-direction: row;
    align-items: end;
    position: relative;
  }

  &__button-share {
    padding: 0.8rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    margin-left: 2.7rem;
    justify-content: center;
    align-items: center;

    &--desktop {
      display: none;
    }
  }

  &__description {
    padding-top: 1.1rem;
  }

  &__buttons {
    margin-top: 5.5rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  &__button {
    margin-right: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 1rem;
  }
}

@include min-size(md) {
  .overview-wide {
    &__image {
      height: 415px;
    }

    &__heading {
      align-items: center;
    }

    &__button-share {
      padding: 1rem;
      width: 4rem;
      height: 4rem;
    }

    &__description {
      padding-top: 5.5rem;
    }
  }
}

@include min-size(lg) {
  .overview-wide {
    .breadcrumbs {
      margin-top: 0;
    }

    &__container {
      display: flex;
      flex-direction: row;
      margin: 10rem 0;
    }

    &__share-mobile {
      display: none;
    }

    &__image {
      min-height: 48rem;
      height: 100%;
      width: calc(50% + 3rem);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0 -3rem 0 0;
    }

    &__content {
      width: 50%;
      order: -1;
      padding-right: 0;
      padding-bottom: 0;
    }

    &__description {
      width: 84%;
    }

    &__button {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      text-transform: capitalize;

      &-share {
        &--mobile {
          display: none;
        }

        &--desktop {
          display: flex;
          margin-left: 0;
        }
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
    }
  }
}

@include min-size(xl) {
  .overview-wide {
    &__image {
      width: calc(50% + 5rem);
      margin-right: -5rem;
    }

    &__description {
      width: 75%;
    }
  }
}

@include min-size(xxl) {
  .overview-wide {
    &__image {
      min-height: 48rem;
      width: calc(65% + (100vw - 1728px) / 2 + 7rem);
      margin-right: calc((1728px - 100vw) / 2 - 7rem);
    }

    &__content {
      width: 35%;
    }

    &__description {
      width: 70%;
    }
  }
}
