@import "../../src/scss/for-blocks";

.highlights {
  $this: &;

  padding-top: 4.5rem;

  &--inversed {
    background-color: var(--off-white);

    #{$this}__item {
      background-color: var(--white);
    }
  }

  &__row {
    width: 100%;
  }

  &__title {
    margin-bottom: 1.5rem;
  }

  &__item {
    background-color: var(--off-white);
    padding: 2.5rem 2rem 2.5rem 2.5rem;
    margin: 0 2rem;
    width: calc(100vw - 4rem);
    max-width: 515px;
    height: inherit;
  }

  &__item-title {
    margin: 0 0 2.5rem;
  }

  &__button {
    margin-bottom: 1.5rem;
  }

  .slick-track {
    display: flex;
  }
}

@include min-size(md) {
  .highlights {
    padding: 10rem 0 11rem;

    &__title {
      margin-bottom: 4rem;
    }

    &__item {
      margin: 0 1rem;
      padding: 6rem 5rem 4rem;
    }

    &__button {
      margin-top: 5rem;
      margin-bottom: 0;
    }
  }

  .sidebar-and-content {
    &__content-container .highlights {
      padding-top: 8.8rem;

      &__item {
        padding: 3rem 4.5rem 6.5rem;
      }

      &__title {
        margin-bottom: 6rem;
      }
    }
  }
}

@include min-size(lg) {
  .highlights {
    $this: &;

    padding: 10rem 0;

    &--small {
      #{$this}__item {
        max-width: initial;
        width: 515px;
      }
    }

    &__item {
      padding: 3rem 3rem 5rem;
      width: 450px;
    }
  }

  .sidebar-and-content {
    &__content-container .highlights {
      padding-right: 0;
    }
  }
}

@include min-size(xl) {
  .highlights {
    &__item {
      padding: 5.5rem 5rem 9.5rem;
      width: calc((100vw - 18rem) / 3);
    }
  }
}
