@import "../../src/scss/for-blocks";

.integrations {
  $this: &;

  padding-top: 4.5rem;

  &__row {
    &-title {
      margin-bottom: 1.5rem;
    }

    &-content {
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }

  &__description {
    display: none;
  }

  &__item {
    background-color: var(--off-white);
    padding: 1.7rem 2rem 2.5rem;
    margin: 0 2rem;
    width: calc(100vw - 4rem);
    max-width: 382px;
    text-decoration: none;
    color: var(--black);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  &__item#{$this}__item {
    display: flex;
  }

  &__item-title,
  &__item-icon {
    display: inline-block;
  }

  &__item-icon {
    width: 35px;
    height: 35px;
    border: 1px solid var(--black);
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1.7rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__item-description {
    margin-top: 1.5rem;
  }
}

@include min-size(md) {
  .integrations {
    &__row {
      &-title {
        flex-direction: column;
        margin-bottom: 7rem;
      }

      &-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }
    }

    &__title {
      &--with-content {
        margin-bottom: 3.5rem;
      }
    }

    &__description {
      display: block;
      max-width: 335px;
    }

    &__button {
      &--wide {
        margin-top: 5rem;
      }

      &--narrow {
        margin-top: 8rem;
        display: none;
      }
    }

    &__item {
      width: 48%;
      max-width: 400px;
      padding: 0 0 0 11.5rem;
      margin: 0 0 8rem;
      background: none;
      position: relative;

      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }

    &__item-icon {
      width: 90px;
      height: 90px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .sidebar-and-content {
    &__content-container .integrations {
      &__button {
        &--narrow {
          display: block;
        }

        &--wide {
          display: none;
        }
      }
    }
  }
}

@include min-size(lg) {
  .integrations {
  }
}

@include min-size(xl) {
  .integrations {
  }
}

@include min-size(xxl) {
  .integrations {
  }
}
