.breadcrumbs {
  display: flex;
  margin-top: 43px;

  &__item {
    color: var(--black);
    text-decoration: none;
    font-family: var(--font-aeonik-medium);
  }

  &__item--link {
    margin-right: 5.5rem;
    position: relative;

    &::after {
      content: ">";
      position: absolute;
      right: -3rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

@include min-size(lg) {
  .breadcrumbs {
    margin-top: 100px;
  }
}
