.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 43px;

  &__item {
    color: var(--black);
    text-decoration: none;
    font-family: var(--font-aeonik-medium);
  }

  &__item--link {
    margin-right: 4rem;
    position: relative;

    &::after {
      content: ">";
      position: absolute;
      right: -2rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

@include min-size(lg) {
  .breadcrumbs {
    margin-top: 100px;

    &__item--link {
      margin-right: 5rem;

      &::after {
        right: -2.5rem;
      }
    }
  }
}
