a {
  color: var(--main-blue);
  text-decoration: underline;
}

button,
.button {
  text-decoration: none;
  padding: 1.2rem 3rem 1.1rem;
  border-style: solid;
  border-width: 1px;
  background-color: var(--main-blue);
  border-color: var(--main-blue);
  color: var(--off-white);
  border-radius: 2.5rem;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1;

  &--footer {
    border-radius: 0;
    background-color: var(--black);
    border-width: 1px;
    padding: 0 0.7rem;
  }

  &--white {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--black);

    &-blue {
      color: var(--main-blue);
    }
  }

  &--off-white {
    background-color: var(--off-white);
    border-color: var(--off-white);
    color: var(--black);
  }

  &--blue-border {
    background-color: var(--white);
    border-color: var(--main-blue);
    color: var(--main-blue);
    border-width: 3px;
  }

  &--blue-border a {
    color: var(--main-blue);
  }

  &--orange,
  &--dark-pink,
  &--light-pink,
  &--wms {
    color: var(--white);
    padding: 0.7rem 2.2rem;
  }

  &--orange {
    background-color: var(--erp);
    border-color: var(--erp);
  }

  &--dark-pink {
    background-color: var(--dark-pink);
    border-color: var(--dark-pink);
  }

  &--light-pink {
    background-color: var(--light-pink);
    border-color: var(--light-pink);
  }

  &--wms {
    background-color: var(--wms);
    border-color: var(--wms);
  }

  &:hover {
    background-color: var(--navy);
    border-color: var(--navy);
    text-decoration: none;
    color: var(--off-white);
  }

  &--off-white:hover {
    background-color: var(--grey-modules);
    border-color: var(--grey-modules);
    color: var(--black);
  }

  &--orange:hover {
    background-color: var(--erp-hover);
    border-color: var(--erp-hover);
  }

  &--light-pink:hover {
    background-color: var(--light-pink-hover);
    border-color: var(--light-pink-hover);
  }

  &--dark-pink:hover {
    background-color: var(--dark-pink-hover);
    border-color: var(--dark-pink-hover);
  }

  &--wms:hover {
    background-color: var(--wms-hover);
    border-color: var(--wms-hover);
  }
}

.buttons {
  width: 100%;
  display: flex;
  flex-flow: wrap row;

  &--grey {
    background-color: var(--grey);
    width: 100%;
    padding: 4rem;
  }

  &--white {
    width: 100%;
    padding: 4rem;
  }
}

@include min-size(md) {
  button,
  .button {
    &--off-white {
      padding: 1.1rem 0 1.5rem 3.5rem;
    }
  }

  .buttons {
    flex-wrap: nowrap;
  }
}
