a {
  color: var(--main-blue);
  text-decoration: underline;
}

button,
.button {
  text-decoration: none;
  padding: 0.7rem 3rem 1rem;
  border-style: solid;
  border-width: 1px;
  background-color: var(--main-blue);
  border-color: var(--main-blue);
  color: var(--off-white);
  border-radius: 2.5rem;
  cursor: pointer;
  white-space: nowrap;
  height: 37px;
  display: flex;
  align-items: center;

  &--footer {
    border-radius: 0;
    background-color: var(--black);
    border-width: 1px;
    padding: 0 0.7rem;
  }

  &--white {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--black);

    &-blue {
      color: var(--main-blue);
    }
  }

  &--blue-border {
    background-color: var(--white);
    border-color: var(--main-blue);
    color: var(--main-blue);
    border-width: 3px;
  }

  &--blue-border a {
    color: var(--main-blue);
  }

  &--orange {
    background-color: var(--erp);
    border-color: var(--erp);
    color: var(--white);
    padding: 0.3rem 2.2rem;
  }

  &--dark-pink {
    background-color: var(--dark-pink);
    border-color: var(--dark-pink);
    color: var(--white);
    padding: 0.3rem 2.2rem;
  }

  &--light-pink {
    background-color: var(--light-pink);
    border-color: var(--light-pink);
    color: var(--white);
    padding: 0.3rem 2.2rem;
  }

  &--wms {
    background-color: var(--wms);
    border-color: var(--wms);
    color: var(--white);
    padding: 0.3rem 2.2rem;
  }

  &:hover {
    background-color: var(--navy);
    border-color: var(--navy);
    color: var(--off-white);
  }

  &--orange:hover {
    background-color: var(--erp-hover);
    border-color: var(--erp-hover);
  }

  &--light-pink:hover {
    background-color: var(--light-pink-hover);
    border-color: var(--light-pink-hover);
  }

  &--dark-pink:hover {
    background-color: var(--dark-pink-hover);
    border-color: var(--dark-pink-hover);
  }

  &--wms:hover {
    background-color: var(--wms-hover);
    border-color: var(--wms-hover);
  }
}
