:root {
  --white: #fff;
  --main-blue: #2d58d9;
  --black: #2d2a26;
  --grey: #d9d8dd;
  --off-white: #f7f7f7;
  --navy: #112da2;
  --bright-blue: #7cc6d0;
  --yellow: #d4c201;
  --wms: #fe3b1f;
  --light-pink: #f095cd;
  --green: #61a60e;
  --dark-pink: #ac3c72;
  --erp: #ff4d00;
  --erp-hover: #e64200;
  --light-pink-hover: #dc82b9;
  --dark-pink-hover: #953b5c;
  --wms-hover: #e93c1f;
  --silver-sand: #c4c4c4;
  --grey-modules: #a9a9a9;
}
