:root {
  --white: #fff;
  --main-blue: #2D58D9;
  --black: #2D2A26;
  --grey: #D9D8D6;
  --off-white: #F7F7F7;
  --navy: #112DA2;
  --bright-blue: #7CC6D0;
  --yellow: #D4C201;
  --wms: #FE3B1F;
  --light-pink: #F095CD;
  --green: #61A60E;
  --dark-pink: #AC3C72;
  --erp: #FF4D00;
}
