label,
.label {
  cursor: pointer;
}

.select {
  $this: &;

  width: 100%;
  background-color: var(--off-white);
  border-radius: 25px;
  min-height: 4rem;
  position: relative;

  &--form {
    border-bottom: 5px solid var(--grey);
    border-radius: 0;
    padding-bottom: 4.5rem;
    background-color: transparent;
  }

  &--error {
    border-color: var(--erp-hover);
  }

  &__selected-text {
    display: block;
    width: auto;
    max-width: calc(100% - 32px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
  }

  &__selected {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-top: 0.9rem;
    position: relative;
    order: 0;
    backface-visibility: hidden;
    cursor: pointer;
    color: var(--black);
  }

  &__box {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 25px;
    background-color: var(--off-white);
    width: 100%;

    #{$this}__options.active + #{$this}__selected {
      #{$this}__arrow::before {
        transform: scale(1, -1);
      }
    }
  }

  &__options {
    transition: all 0.4s;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    order: 1;
  }

  &__options.active {
    max-height: 414px;
    opacity: 1;
    overflow-y: scroll;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  &__option {
    padding: 0.6rem 2rem;
    cursor: pointer;

    &:hover {
      background-color: var(--silver-sand);
    }
  }

  &__arrow {
    position: relative;
  }

  &__arrow::before {
    content: "";
    background: url("../assets/img/down-arrow.svg") no-repeat;
    background-size: contain;
    position: absolute;
    height: 12px;
    width: 15px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transition: all 0.4s;
  }

  &--expand-on-top {
    #{$this}__box {
      bottom: 0;
    }

    #{$this}__options {
      order: 0;
    }

    #{$this}.active {
      margin-bottom: 1rem;
      margin-top: 3rem;
    }
  }

  &:not(&--expand-on-top) {
    z-index: 20;

    @include z-index-children(20, 3);
  }
}

.input {
  $this: &;

  border: 5px solid var(--grey);
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 0;
  width: 100%;
  font-family: var(--font-aeonik-light);
  font-size: 1.6rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-top: 1rem;
  background-color: transparent;

  &::placeholder {
    font-family: var(--font-aeonik-light);
    font-size: 1.6rem;
    color: var(--black);
    transition: all 0.5s;
  }

  &-container {
    width: 100%;
  }

  &:focus {
    &::placeholder {
      transform: translateY(-15px);
      font-size: 1rem;
    }
  }

  &--start {
    padding-left: 0.7rem;
  }

  &--border-off-white input {
    border-color: var(--off-white);
  }

  &--error#{$this}--error {
    border-color: var(--erp-hover);
  }

  &-form {
    margin-bottom: 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__radio {
    appearance: none;
    background-color: var(--off-white);
    color: var(--main-blue);
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid var(--main-blue);
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
    transition: 0.5s transform;
    align-self: flex-start;
    margin-top: 0.5rem;

    &:checked {
      background-color: var(--main-blue) !important;
    }

    &--filters {
      width: 1.9rem;
      height: 1.9rem;
    }
  }

  &__error {
    line-height: 1;
    height: 1.4rem;
    color: var(--erp-hover);
  }
}

input[type="number"] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

textarea {
  height: 15rem;
  resize: none;

  &::placeholder {
    padding-top: 5px;
  }
}

form {
  transition: all 0.5s;
}

.form-valid {
  position: absolute;
  height: fit-content;
  display: flex;
  flex-direction: column;
  top: 50px;
  left: 0;
  margin: 0 2rem;
  scroll-margin-top: 12rem;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;

  &__col {
    height: fit-content;

    &--right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    margin: 0 0 40px;
  }

  &__description {
    margin-bottom: 30px;
  }

  &__button {
    padding-left: 45px;
    padding-right: 45px;
  }

  &--show {
    opacity: 1;
    z-index: 1;
  }
}

.label {
  &-modules {
    color: var(--grey-modules);
  }
}

.radio {
  &__container {
    display: flex;
    width: 100%;
    margin-left: 0.5rem;
  }

  &__container:hover {
    .input {
      &__radio {
        transform: scale(1.1);
        background-color: var(--light-blue);
        border-color: var(--light-blue);
      }
    }
  }
}

.page-with-form {
  position: relative;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

@include min-size(md) {
  .select {
    min-height: 5rem;

    &__selected {
      height: 5rem;
    }

    &__arrow::before {
      right: 2rem;
    }
  }
}

@include min-size(lg) {
  .input {
    &--lg-half {
      width: 48%;
    }
  }

  .form-valid {
    inset: 0;
    margin: auto 3rem;
    flex-direction: row;
    justify-content: space-between;

    &__col {
      width: 50%;

      &--right {
        max-width: 520px;
      }
    }

    &__title {
      margin-bottom: 0;
      max-width: 650px;
    }

    &__description {
      margin-bottom: 70px;
    }
  }
}

@include min-size(xl) {
  .form-valid {
    inset: 0;
    margin: auto 5rem;
  }
}

@include min-size(xxl) {
  .form-valid {
    $calc-margin: calc(20rem + (100vw - 1728px) / 2);

    inset: 0;
    margin: auto $calc-margin;
  }
}
