label {
  cursor: pointer;
}

.form {
  &-select {
    width: 100%;
    background-color: var(--off-white);
    border-radius: 21px;
    min-height: 4rem;
    position: relative;
    z-index: 1000;

    &--selected {
      height: 4rem;
      display: flex;
      padding-left: 2rem;
      position: relative;
      order: 0;
      backface-visibility: hidden;
      cursor: pointer;
    }
  }

  &__product-detail {
    background-color: var(--grey);
    width: 100%;
    padding: 4rem;
  }

  &-select-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 25px;
    background-color: var(--off-white);
    width: 100%;
  }

  &-select-box .form-options-container {
    transition: all 0.4s;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    order: 1;
  }

  &-option:hover {
    background-color: var(--silver-sand);
  }

  &-select--selected::before {
    content: "";
    background: url("../assets/img/down-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 15px;
    right: 2rem;
    top: 1.2rem;
    transition: all 0.4s;
  }

  &-select-box .form-option {
    padding: 0.6rem 2rem;
    cursor: pointer;
  }

  &-select-box label {
    cursor: pointer;
  }

  &-select-box .form-options-container.active {
    max-height: 414px;
    opacity: 1;
    overflow-y: scroll;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  &-select-box .form-options-container.active + &-select--selected::before {
    transform: scale(1, -1);
    top: -1.4rem;
  }
}

.input {
  border: 5px solid var(--off-white);
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 0;
  width: 100%;
  font-family: var(--font-aeonik-light);
  font-size: 1.6rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-top: 1rem;
  background-color: transparent;

  &::placeholder {
    font-family: var(--font-aeonik-light);
    font-size: 1.6rem;
    color: var(--black);
  }

  &--start {
    padding-left: 0.7rem;
  }

  &--message {
    height: 15rem;
    resize: none;
  }

  &-form {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }

  &__radio {
    appearance: none;
    background-color: var(--off-white);
    color: var(--main-blue);
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid var(--main-blue);
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;

    &:checked {
      background-color: var(--main-blue);
    }

    &--filters {
      width: 1.9rem;
      height: 1.9rem;
    }
  }
}

input[type="number"] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.label {
  &-modules {
    color: var(--grey-modules);
  }
}

.radio {
  &__container {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
