.form {
  &-select {
	width: 100%;
	background-color: var(--off-white);
	border-radius: 21px;
	min-height: 4rem;

	&--selected {
	  height: 4rem;
	  display: flex;
	  padding-left: 2rem;
	}
  }

  &-select-box {
    display: flex;
    flex-direction: column;
  }

  &-select-box .form-options-container {
    //background-color: var(--off-white);
    transition: all 0.4s;
    //border-radius: 21px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    order: 1;
  }

  &-select--selected {
    position: relative;
    order: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }

  &-select--selected::before {
    content: "";
    background: url("../assets/img/down-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 15px;
    right: 2rem;
	top: 1.2rem;
    transition: all 0.4s;
  }

  &-select-box .form-option,
  .form-select--selected {
    padding-top: 1.1rem;
	padding-left: 2rem;
	padding-right: 2rem;
    cursor: pointer;
  }

  &-select-box label {
    cursor: pointer;
  }

  &-select-box .form-options-container.active {
    max-height: 110px;
    opacity: 1;
    overflow-y: scroll;
  }

  &-select-box .form-options-container.active + &-select--selected::before {
    //transform: rotateX(180deg);
	//-webkit-transform: rotateX(180deg);
	//-webkit-backface-visibility: hidden;
	//backface-visibility: hidden;
	//-webkit-transform: -webkit-rotateX (180deg);
	transform: scale(1, -1);
	top: -1.4rem;
  }
}

input[type="text"],
input[type="email"],
input[type="number"],
.input {
  border: 5px solid var(--off-white);
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  width: 100%;
  font-family: var(--font-aeonik-light);
  font-size: 1.6rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-top: 1rem;
  background-color: transparent;

  &::placeholder {
    font-family: var(--font-aeonik-light);
    font-size: 1.6rem;
    color: var(--black);
  }
}

.input {
  &--message {
    height: 15rem;
    resize: none;
  }

  &--start {
    padding-left: 0.7rem;
  }

  &__radio {
    appearance: none;
    background-color: var(--off-white);
    color: var(--main-blue);
    width: 1.3rem;
    height: 1.3rem;
    border: 0.15em solid var(--main-blue);
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;

    &:checked {
      background-color: var(--main-blue);
    }

    &--filters {
      width: 1.9rem;
      height: 1.9rem;
    }
  }
}

.radio {
  &__container {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
