$modular: modular;
$modular-bg-class: modular__bg;

.sidebar-and-content {
  &__content-container .#{$modular} {
    $this: &;

    position: relative;
    background: none;

    &__bg {
      position: absolute;
      width: 100vw;
      height: 100%;
      z-index: -2;
      top: 0;
      left: -2rem;
      background-color: var(--white);
    }

    &__item {
      background-color: var(--off-white);

      &--no-mobile {
        background: none;
      }
    }

    &:nth-child(even) {
      .#{$modular} {
        &__bg {
          background-color: var(--off-white);
        }

        &__item {
          background-color: var(--white);

          &--no-mobile {
            background: none;
          }
        }
      }
    }

    &--off-white {
      .#{$modular}__bg.#{$modular}__bg {
        background-color: var(--off-white);
      }

      .#{$modular}__item.#{$modular}__item {
        background-color: var(--white);

        &--no-mobile {
          background: none;
        }
      }
    }

    &--white {
      .#{$modular}__bg.#{$modular}__bg {
        background-color: var(--white);
      }

      .#{$modular}__item.#{$modular}__item {
        background-color: var(--off-white);

        &--no-mobile {
          background: none;
        }
      }
    }
  }
}

.product-category .#{$modular} {
  background-color: var(--white);

  &__item {
    background-color: var(--off-white);

    &--no-mobile {
      background: none;
    }
  }

  &:nth-child(even) {
    background-color: var(--off-white);

    .#{$modular}__item {
      background-color: var(--white);

      &--no-mobile {
        background: none;
      }
    }
  }
}

@include min-size(md) {
  $modular-item-mobile: modular__item--mobile;

  .sidebar-and-content {
    &__content-container .#{$modular} {
      &__item {
        &--mobile.#{$modular-item-mobile}.#{$modular-item-mobile} {
          background: none;
        }

        &--no-mobile {
          background-color: var(--off-white);
        }
      }

      &:nth-child(even) {
        .#{$modular} {
          &__item {
            &--no-mobile {
              background-color: var(--white);
            }
          }
        }
      }

      &--off-white {
        .#{$modular}__item.#{$modular}__item {
          background-color: var(--white);

          &--no-mobile {
            background-color: var(--white);
          }

          &--mobile {
            background: none;
          }
        }
      }

      &--white {
        .#{$modular}__item.#{$modular}__item {
          background-color: var(--off-white);

          &--no-mobile {
            background-color: var(--off-white);
          }

          &--mobile {
            background: none;
          }
        }
      }
    }
  }

  .product-category .#{$modular} {
    &__item {
      &--no-mobile {
        background-color: var(--off-white);
      }

      &--mobile {
        background: none;
      }
    }

    &:nth-child(even) {
      .#{$modular}__item {
        &--no-mobile {
          background-color: var(--white);
        }

        &--mobile {
          background: none;
        }
      }
    }
  }
}

@include min-size(lg) {
  .sidebar-and-content {
    &__content-container .#{$modular} {
      .#{$modular-bg-class} {
        left: -3rem;
      }
    }
  }
}

@include min-size(xl) {
  .sidebar-and-content {
    &__content-container .#{$modular} {
      .#{$modular-bg-class} {
        left: -5rem;
      }
    }
  }
}

@include min-size(xxl) {
  .sidebar-and-content {
    &__content-container .#{$modular} {
      .#{$modular-bg-class} {
        left: -13rem;
      }
    }
  }
}
