$modular: modular;

@mixin modular($container) {
  .#{$container} .#{$modular} {
    position: relative;
    background-color: var(--white);

    &__item {
      &,
      &--mobile {
        background-color: var(--off-white);
      }

      &--no-mobile,
      &--transparent {
        background: none;
      }
    }

    &:nth-child(even) {
      background-color: var(--off-white);

      .#{$modular}__item {
        &,
        &--mobile {
          background-color: var(--white);
        }
      }
    }
  }

  @include min-size(md) {
    .#{$container} .#{$modular} {
      &__item {
        &--mobile.#{$modular}__item--mobile.#{$modular}__item--mobile.#{$modular}__item--mobile {
          background: none;
        }

        &--no-mobile.#{$modular}__item--no-mobile.#{$modular}__item--no-mobile.#{$modular}__item--no-mobile {
          background-color: var(--off-white);
        }
      }

      &:nth-child(even) {
        .#{$modular} {
          &__item {
            &--mobile {
              background: none;
            }

            &--no-mobile.#{$modular}__item--no-mobile {
              background-color: var(--white);
            }
          }
        }
      }
    }
  }
}

@include modular(sidebar-and-content__content-container);
@include modular(product-category);

.#{$modular} {
  &--off-white.#{$modular}--off-white.#{$modular}--off-white.#{$modular}--off-white {
    background-color: var(--off-white);

    .#{$modular}__item {
      background-color: var(--white);

      &,
      &--mobile {
        background-color: var(--white);
      }
    }
  }

  &--white.#{$modular}--white.#{$modular}--white.#{$modular}--white {
    background-color: var(--white);

    .#{$modular}__item {
      background-color: var(--off-white);

      &,
      &--mobile {
        background-color: var(--off-white);
      }
    }
  }
}

@include min-size(md) {
  .#{$modular} {
    &--off-white.#{$modular}--off-white.#{$modular}--off-white {
      .#{$modular}__item {
        &--mobile.#{$modular}__item--mobile.#{$modular}__item--mobile.#{$modular}__item--mobile {
          background: none;
        }

        &,
        &--no-mobile.#{$modular}__item--no-mobile.#{$modular}__item--no-mobile.#{$modular}__item--no-mobile {
          background-color: var(--white);
        }
      }
    }

    &--white.#{$modular}--white.#{$modular}--white {
      .#{$modular}__item {
        &--mobile.#{$modular}__item--mobile.#{$modular}__item--mobile.#{$modular}__item--mobile {
          background: none;
        }

        &,
        &--no-mobile.#{$modular}__item--no-mobile.#{$modular}__item--no-mobile.#{$modular}__item--no-mobile {
          background-color: var(--off-white);
        }
      }
    }
  }
}
