.nav {
  $this: &;

  background-color: var(--off-white);
  height: 7rem;
  position: relative;
  z-index: 30;

  &__fluid {
    position: fixed;
  }

  &__desktop {
    display: none;

    &--extended {
      display: none;
    }
  }

  &__logo path {
    fill: var(--main-blue);
  }

  &__logo {
    margin-top: 1.6rem;
    margin-bottom: 1rem;
  }

  &__open {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: absolute;
    display: flex;
  }

  &__open::before {
    content: "";
    width: calc(100% + 4rem);
    background-color: var(--off-white);
    margin-left: -2rem;
    position: absolute;
    height: 100%;
    z-index: -1;
  }

  &__close {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &-exit {
      display: flex;
      align-items: center;
    }

    &-text {
      margin-right: 2rem;
      color: var(--main-blue);
    }
  }

  &__info {
    position: relative;
    z-index: 1;
    padding-top: 3rem;
    padding-bottom: 3rem;

    h1 {
      margin: 0;
    }
  }

  &__info::before {
    content: "";
    background-color: var(--grey);
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: -11;
    top: 0;
    margin-left: -2rem;
  }

  &__buttons a {
    text-transform: capitalize;
  }

  &__buttons {
    padding-top: 5rem;
    padding-bottom: 1rem;
  }

  &__button {
    margin-right: 2rem;
  }

  &__mobile {
    width: 100%;
    position: relative;

    &--scrolling {
      position: relative;
      overflow-y: scroll;
    }

    &-items {
      width: 100%;

      .sub-menu {
        padding-left: 3rem;
        margin-top: 0.4rem;
        display: none;
      }
    }

    &-menu {
      transition: 1s all;
      transform: translateY(-120%);

      &--visible {
        display: block;
        transition: 1s all;
        transform: scale(1, 1);
        min-height: 100%;
      }
    }

    &-menu::before {
      content: "";
      width: calc(100% + 4rem);
      background-color: var(--off-white);
      margin-left: -2rem;
      position: absolute;
      height: 100%;
      z-index: -15;
    }

    &-items > li ul #{$this}__mobile-menu-item::before {
      background-color: transparent;
    }

    &-items > li ul #{$this}__mobile-menu-item::after {
      width: 16px;
      height: 3px;
      content: "";
      background-color: var(--main-blue);
      left: -3rem;
      z-index: -10;
      top: 0;
      bottom: 0;
      margin: auto auto auto 0;
      transition: all 0.5s;
    }

    &-items > li ul #{$this}__mobile-menu-item a {
      text-transform: capitalize;
      font-family: var(--font-aeonik-bold);
      font-weight: 700;
      line-height: 1.7rem;
      font-size: 1.4rem;
      align-items: center;
      letter-spacing: 0.02em;
    }

    &-items > li ul #{$this}__mobile-menu-item {
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
      position: relative;
    }

    &-menu-item a {
      text-decoration: none;
      color: var(--black);
      width: 100%;
      display: block;
    }

    &-menu-item {
      list-style-type: none;
      padding-top: 1.3rem;
      padding-bottom: 1.3rem;
      width: 100%;
      position: relative;
      z-index: 11;
    }

    &-menu-item::after {
      position: absolute;
      content: url("../assets/img/blue-arrow.svg");
      display: flex;
      top: 1.3rem;
      justify-content: end;
      right: 4rem;
      z-index: -10;
      transition: 0.5s all;
    }

    &-menu-item--chosen::after {
      transform: rotate(90deg);
      padding-top: 1rem;
      padding-right: 0.5rem;
    }

    &-menu-item:hover {
      &::after {
        transform: translateX(1rem);
      }
    }

    &-menu-item--chosen:hover {
      &::after {
        transform: rotate(90deg);
      }
    }

    &-menu-item:nth-child(2n)::before {
      content: "";
      background-color: var(--white);
      position: absolute;
      width: 100vw;
      height: 100%;
      z-index: -11;
      top: 0;
      margin-left: -2rem;
    }
  }

  &__search-form {
    position: relative;
    padding-bottom: 5rem;
  }

  &__input {
    padding-left: 2.5rem;
  }

  &__search-form::after {
    position: absolute;
    content: url("../assets/img/search-icon.svg");
    display: flex;
    width: 100%;
    top: 0.8rem;
    justify-content: start;
    left: 0;
  }
}

@include min-size(md) {
  .nav {
  }
}

@include min-size(lg) {
  .nav {
    $this: &;

    &__container {
      position: relative;
    }

    &-input {
      width: 70%;
      margin-left: 3rem;
      background-color: var(--off-white);
      border: 1px solid var(--off-white);
      height: 4rem;
    }

    &__close {
      cursor: pointer;
    }

    &__close::before {
      content: "";
      width: 200vw;
      background-color: var(--off-white);
      margin-left: -100rem;
      position: absolute;
      height: 7rem;
      z-index: -15;
    }

    &-button {
      margin-left: 2rem;
      padding-left: 5rem;
      padding-right: 5rem;
    }

    &__main-menu {
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      z-index: 10;
      position: absolute;
      top: 0;

      &-item a {
        text-decoration: none;
        color: var(--black);
        text-transform: capitalize;
      }

      &--visible {
        display: flex;
      }

      &-items {
        display: flex;
        align-items: center;
      }

      &-item {
        margin-left: 5rem;
        list-style: none;
      }

      &-item:hover {
        text-decoration: underline;
      }
    }

    &__main-menu::before {
      content: "";
      width: 200vw;
      background-color: var(--off-white);
      margin-left: -100rem;
      position: absolute;
      height: 7rem;
      z-index: -15;
    }

    &__desktop {
      position: relative;
      display: block;
      width: 100%;

      &-form {
        margin-top: 5rem;
        margin-bottom: 6rem;
        display: flex;
        align-items: center;
        flex-direction: row;
      }

      &-menu {
        width: 70%;
        background-color: var(--white);
        position: relative;
        z-index: 1;

        &-items {
          display: flex;
          align-items: start;
          flex-direction: row;
          justify-content: space-between;
          padding-left: 3rem;

          .sub-menu {
            padding: 0;
          }
        }

        &-items > li ul #{$this}__desktop-menu-extended-item a {
          font-family: var(--font-aeonik-light);
          font-weight: 400;
          line-height: 1.9rem;
          font-size: 2rem;
          color: var(--dark-black);
        }

        &-items > li ul #{$this}__desktop-menu-extended-item a:hover {
          text-decoration: underline;
          cursor: pointer;
        }

        &-items > li ul #{$this}__desktop-menu-extended-item {
          padding-bottom: 1rem;
          margin: 0;
        }

        &-extended-item a {
          text-decoration: none;
          color: var(--dark-black);
        }

        &-extended-item a:hover {
          cursor: default;
        }

        &-extended-item {
          margin-bottom: 1.5rem;
          list-style-type: none;
        }
      }

      &-menu::before {
        content: "";
        position: absolute;
        background-color: var(--white);
        width: calc(100% + 3rem);
        height: 100%;
        z-index: -11;
        top: 0;
        margin-right: -3rem;
      }

      &-title {
        margin: 0;
      }

      &-description {
        width: 85%;
        margin: 0;
        padding-top: 3rem;
      }

      &-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      &-text {
        width: 35%;
        position: relative;
        padding-top: 15rem;
        padding-bottom: 15rem;
        background-color: var(--grey);
        z-index: 1;
        padding-right: 3rem;
      }

      &-text::before {
        content: "";
        position: absolute;
        background-color: var(--grey);
        width: calc(100% + 3rem);
        height: 100%;
        z-index: -3;
        top: 0;
        margin-left: -3rem;
      }

      &--extended {
        width: 100%;
        display: block;
        transition: 1s all;
        transform: translateY(-140%);
        z-index: 10;
      }
    }

    &__mobile {
      display: none;
    }

    &-open {
      margin-left: 5rem;
      cursor: pointer;
    }

    &--visible {
      display: block;
      transition: 1s all;
      transform: scale(1, 1);
    }
  }
}

@include min-size(xl) {
  .nav {
    &__main-menu {
      &-item {
        margin-left: 7rem;
      }
    }

    &-input {
      margin-left: 11rem;
    }

    &-open {
      margin-left: 7rem;
    }

    &__desktop {
      &-text {
        padding-top: 25rem;
        padding-bottom: 25rem;
        width: 30%;
      }

      &-form {
        margin-top: 10rem;
        margin-bottom: 12rem;
      }

      &-text::before {
        width: calc(100% + 5rem);
        margin-left: -5rem;
      }

      &-menu::before {
        width: calc(100% + 5rem);
        margin-right: -5rem;
      }

      &-menu-items {
        padding-left: 11rem;
        padding-right: 5rem;
      }
    }
  }
}

@include min-size(xxl) {
  .nav {
    &__desktop {
      &-menu-items {
        padding-right: 11rem;
      }

      &-text {
        width: 25%;
      }

      &-menu {
        width: 75%;
      }

      &-menu::before {
        width: calc(100% + 11rem);
        margin-right: -11rem;
      }

      &-text::before {
        width: calc(100% + 11rem);
        margin-left: -11rem;
      }
    }
  }
}
