.request-demo {
  margin-bottom: 6rem;

  .select {
    border-bottom: 5px solid var(--off-white);
    border-radius: 0;
    padding-bottom: 4.5rem;
    background-color: transparent;

    &__selected {
      font-size: 1.6rem;

      &-text {
        width: calc(100% - 20px);
      }
    }

    &__box {
      background-color: transparent;
    }

    &__options {
      background-color: var(--off-white);
      margin: 0;
    }

    &__options.active {
      border-radius: 0 0 25px 25px;
      padding-top: 1rem;
      padding-bottom: 3rem;
    }
  }
}

@include min-size(md) {
  .request-demo {
    .select {
      &__selected-text {
        width: 100%;
      }
    }
  }
}

@include min-size(lg) {
  .request-demo {
    .breadcrumbs {
      margin: 0;
    }

    &__form {
      width: 50%;
    }

    &__container {
      margin-top: 10rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .template-heading {
        width: 40%;
      }
    }

    &__input {
      width: 49%;
    }

    .template-heading {
      &__content {
        margin-top: 5rem;
      }
    }
  }
}
