.request-demo {
  flex: 1;

  &__container {
    padding-bottom: 6rem;
  }

  .select {
    &__selected {
      font-size: 1.6rem;
      justify-content: flex-start;

      &-text {
        width: calc(100% - 20px);
      }
    }

    &__box {
      background-color: transparent;
    }

    &__options {
      background-color: var(--off-white);
      margin: 0;
    }

    &__options.active {
      border-radius: 0 0 25px 25px;
      padding-top: 1rem;
      padding-bottom: 3rem;
    }
  }

  &__no-form {
    margin: 5rem 0;

    .button {
      display: inline-block;
      margin-top: 3rem;
    }
  }
}

@include min-size(md) {
  .request-demo {
    .select {
      &__selected {
        justify-content: space-between;

        &-text {
          width: auto;
        }
      }
    }
  }
}

@include min-size(lg) {
  .request-demo {
    .breadcrumbs {
      margin: 0;
    }

    &__no-form,
    form {
      width: 50%;
      max-width: 785px;
    }

    &__container {
      padding-bottom: 10rem;
      padding-top: 10rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .template-heading {
        width: 40%;
        max-width: 520px;
      }
    }

    &__input {
      width: 49%;
    }

    .template-heading {
      &__content {
        margin-top: 5rem;
      }
    }
  }
}
