.request-demo {
  margin-bottom: 6rem;

  .select,
  .select__box {
    background-color: transparent;
  }

  .select {
    border-bottom: 5px solid var(--off-white);
    border-radius: 0;
    padding-bottom: 4.5rem;

    &__selected {
      font-size: 1.6rem;
    }
  }

  .select__options {
    background-color: var(--off-white);
  }
}

@include min-size(lg) {
  .request-demo {
    .breadcrumbs {
      margin: 0;
    }

    &__form {
      width: 50%;
    }

    &__container {
      margin-top: 10rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .template-heading {
        width: 40%;
      }
    }

    &__input {
      width: 49%;
    }

    .template-heading {
      &__content {
        margin-top: 5rem;
      }
    }
  }
}
