.page-404 {
  flex: 1;

  .container {
    justify-content: center;
    align-items: center;
  }

  .h2 {
    margin-bottom: 10rem;
  }

  min-height: 400px;
}

@include min-size(md) {
  .page-404 {
    min-height: 600px;
  }
}
