/**
Safari hacks
 */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    * {
      appearance: none;
      -webkit-overflow-scrolling: touch;
    }

    a[href^="tel"] {
      color: inherit;
      text-decoration: none;
    }

    .sidebar-and-content {
      &__sidebar {
        /* stylelint-disable */
        position: -webkit-sticky;
        /* stylelint-enable */
        display: block;
      }
    }
  }
}
