$transition-time: 1s;

.sidebar-and-content {
  $this: &;

  &__container {
    &--the-content {
      padding: 0;
    }
  }

  &__content {
    width: 100%;
    padding: 4.5rem 0;

    &--the-content#{$this}__col-content--the-content {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__title {
    margin: 1rem 0 2rem;

    &--single {
      display: none;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    margin-bottom: 4.5rem;
    color: var(--black);

    &:hover {
      #{$this}__item-image {
        filter: none;
      }
    }
  }

  &__item-image-container {
    width: 100%;
    aspect-ratio: 3 / 2;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 2.5rem;
  }

  &__item-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
  }

  &__item-category {
    z-index: 2;
    margin: 1.2rem 1.2rem 0 0;
  }

  &__item-title {
    margin: 0 0 1rem;
  }

  &__item-excerpt {
    font-size: 2.2rem;
    font-family: var(--font-aeonik-light);
    margin: 0;
    color: var(--grey-modules);
  }

  &__content-container {
    .container-fluid {
      width: 100%;
    }

    .container.container {
      width: 100%;
    }
  }
}

@include min-size(md) {
  .sidebar-and-content {
    &__title {
      margin-bottom: 4rem;
    }

    &__content-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    &__item {
      width: 48%;

      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }

    &__item-image-container {
      margin-bottom: 2rem;
      min-height: 230px;
    }
  }
}

@include min-size(lg) {
  .sidebar-and-content {
    $sidebar-width: 0.45;

    &__container {
      flex-flow: row nowrap;
      max-width: initial;
      padding-right: 0;
      padding-left: 3rem;
    }

    &__sidebar {
      width: calc($sidebar-width * 100%);
      height: calc(100vh - 70px);
      margin: 0;
      padding-bottom: 5rem;
      padding-left: 0;
      padding-right: 5rem;
      border-radius: 0;
      position: sticky;
      top: 7rem;
      overflow: hidden scroll;

      .breadcrumbs {
        display: block;
      }
    }

    &__content {
      width: 55%;
      padding: 16rem 3rem;
      scroll-behavior: smooth;

      &--the-content {
        padding-right: 0;
        padding-left: 0;
      }
    }

    &__title {
      margin-top: 2.5rem;
      margin-bottom: 6rem;
      display: none;
    }

    &__sidebar-bg {
      position: fixed;
      background-color: var(--grey);
      width: calc(3rem + (100% - 3rem) * $sidebar-width);
      height: calc(100vh - 7rem);
      top: 7rem;
      left: 0;
      z-index: -1;
    }

    &__item {
      width: 100%;
      margin-bottom: 7.5rem;

      &:nth-last-child(2) {
        margin-bottom: 7.5rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__item-image-container {
      min-height: 160px;
      aspect-ratio: 2 / 1;
    }

    &__content-container {
      flex-flow: column nowrap;

      .container-fluid,
      section {
        padding-right: 3rem;
      }

      .container {
        padding-right: 0;
      }
    }
  }
}

@include min-size(xl) {
  .sidebar-and-content {
    $sidebar-width: 0.3375;

    &__sidebar {
      width: calc($sidebar-width * 100%);
    }

    &__content {
      width: 66.25%;
    }

    &__sidebar-bg {
      width: calc(2rem + 100% * $sidebar-width);
    }

    &__item {
      width: 49%;
      max-width: unset;

      &:nth-child(odd) {
        margin-right: 2%;
      }

      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }

    &__content-container {
      flex-flow: row wrap;
      justify-content: flex-start;

      .container-fluid,
      section {
        padding-right: 5rem;
        padding-left: 5rem;
      }
    }
  }
}

@include min-size(xxl) {
  .sidebar-and-content {
    $side-padding: calc((100vw - 1588px) / 2);

    &__container {
      justify-content: flex-start;
      padding-left: 7rem;
    }

    &__sidebar {
      width: 536px;
    }

    &__content {
      width: 0;
      padding-right: 7rem;
      padding-left: 11.5rem;
      flex-grow: 1;

      &--the-content {
        padding-right: 0;
        padding-left: 0;
      }
    }

    &__content-container {
      .container-fluid,
      section {
        padding-right: $side-padding;
        padding-left: 13rem;
      }

      .container {
        padding-left: 0;
      }
    }

    &__sidebar-bg {
      width: 606px;
    }
  }
}

@include min-size(full) {
  .sidebar-and-content {
    $side-padding: calc((100vw - 1780px) / 2);

    &__container {
      padding-left: $side-padding;
      justify-content: flex-start;
    }

    &__content {
      padding-right: $side-padding;

      &--the-content {
        padding-right: 0;
      }
    }

    &__content-container {
      .container-fluid,
      section {
        padding-right: $side-padding;
      }
    }

    &__sidebar-bg {
      width: calc((100vw - 1920px) / 2 + 606px);
    }
  }
}
