$transition-time: 1s;

.sidebar-and-content {
  $this: &;

  &__container {
    &--the-content {
      padding: 0;

      #{$this}__sidebar {
        margin-left: -2rem;
      }
    }
  }

  &__content {
    width: 100%;
    padding: 4.5rem 0;

    &--the-content {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__title {
    margin: 1rem 0 2rem;

    &--single {
      display: none;
    }
  }

  &__item-container {
    margin-bottom: 4.5rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    color: var(--black);
    max-width: 460px;

    &:hover {
      #{$this}__item-image {
        filter: none;
      }
    }
  }

  &__item-image-container {
    width: 100%;
    aspect-ratio: 3 / 2;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 2.5rem;
  }

  &__item-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
  }

  &__item-category {
    z-index: 2;
    margin: 1.2rem 1.2rem 0 0;
    padding: 0.5rem 2.2rem 0.6rem;
  }

  &__item-title {
    margin: 0 0 1rem;
  }

  &__item-excerpt {
    font-size: 2.2rem;
    font-family: var(--font-aeonik-light);
    margin: 0;
    color: var(--grey-modules);
  }

  &__content-container {
    .container-fluid {
      width: 100%;
      scroll-margin-top: 7rem;
    }

    .container.container {
      width: 100%;
    }
  }
}

@include min-size(md) {
  .sidebar-and-content {
    &__title {
      margin-bottom: 4rem;
    }

    &__content-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    &__item-container {
      width: 48%;

      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }

    &__item-image-container {
      margin-bottom: 2rem;
      min-height: 230px;
    }
  }
}

@include min-size(lg) {
  .sidebar-and-content {
    $this: &;
    $sidebar-width: 0.45;

    &__container {
      flex-flow: row nowrap;
      max-width: initial;
      padding-right: 0;
      padding-left: 3rem;

      &--the-content {
        #{$this}__sidebar {
          margin-left: 0;
        }
      }
    }

    &__sidebar {
      width: calc($sidebar-width * 100%);
      height: calc(100vh - 70px);
      margin: 0;
      padding-bottom: 5rem;
      padding-left: 0;
      padding-right: 5rem;
      border-radius: 0;
      position: sticky;
      top: 7rem;
      overflow-x: hidden;
      overflow-y: scroll;

      .breadcrumbs {
        display: block;
      }

      .quick-links {
        &__title {
          margin-bottom: 5.5rem;
        }
      }
    }

    &__content {
      width: 55%;
      padding: 16rem 3rem;

      &--the-content {
        padding: 0;
      }
    }

    &__title {
      margin-top: 2.5rem;
      margin-bottom: 6rem;
      display: none;
    }

    &__sidebar-bg {
      position: fixed;
      background-color: var(--grey);
      width: calc(3rem + (100% - 3rem) * $sidebar-width);
      height: calc(100vh - 7rem);
      top: 7rem;
      left: 0;
      z-index: -1;
    }

    &__item-container {
      width: 100%;
      margin-bottom: 7.5rem;

      &:nth-last-child(2) {
        margin-bottom: 7.5rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__item-image-container {
      min-height: 160px;
      aspect-ratio: 2 / 1;
    }

    &__content-container {
      flex-flow: column nowrap;
    }
  }
}

@include min-size(xl) {
  .sidebar-and-content {
    $sidebar-width: 0.3375;

    &__sidebar {
      width: calc($sidebar-width * 100%);
    }

    &__content {
      width: 66.25%;
    }

    &__sidebar-bg {
      width: calc(2rem + 100% * $sidebar-width);
    }

    &__item-container {
      width: 49%;

      &:nth-child(odd) {
        margin-right: 2%;
      }

      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }

    &__content-container {
      flex-flow: row wrap;
      justify-content: center;
    }
  }
}

@include min-size(xxl) {
  .sidebar-and-content {
    &__container {
      justify-content: flex-start;
      padding-left: 7rem;
    }

    &__sidebar {
      width: 28vw;
      padding-right: 0;
      margin-right: 5.5rem;
    }

    &__content {
      width: 0;
      padding-right: 7rem;
      padding-left: 11.5rem;
      flex-grow: 1;

      &--the-content {
        padding-right: 0;
        padding-left: 0;
      }
    }

    &__item-container {
      width: 49%;
      display: flex;

      &:nth-child(odd) {
        justify-content: flex-end;
      }

      &:last-child:nth-child(odd) {
        margin-right: auto;
      }
    }

    &__item {
      width: 460px;
    }

    &__content-container .container {
      padding-left: 13rem;
      padding-right: calc((100vw - 1588px) / 2);
    }

    &__sidebar-bg {
      width: calc(28vw + 12.5rem);
    }
  }
}

@include min-size(full) {
  .sidebar-and-content {
    &__container {
      padding-left: 10rem;
      justify-content: flex-start;
    }

    &__sidebar {
      width: 24.5vw;
      padding-right: 0;
      margin-right: 15rem;
    }

    &__content {
      padding-right: 0;
      padding-left: 0;
    }

    &__content-container .container {
      padding-left: 36.4rem;
      padding-right: 15.7vw;
    }

    &__sidebar-bg {
      width: calc(24.5vw + 25rem);
    }
  }
}
