@import "../../src/scss/for-blocks";

.recent-product-project {
  padding-top: 4.5rem;

  &__title {
    display: none;
  }

  &__project {
    flex-flow: column;

    &-title {
      margin-bottom: 2rem;
    }

    &-description,
    &-button {
      margin-bottom: 3rem;
    }

    &-button {
      display: inline-block;
    }

    &-image {
      width: 100vw;
      margin-left: -2rem;
      aspect-ratio: 16 / 10;
    }
  }
}

@include min-size(md) {
  .recent-product-project {
  }
}

@include min-size(lg) {
  .recent-product-project {
  }
}

@include min-size(xl) {
  .recent-product-project {
  }
}

@include min-size(xxl) {
  .recent-product-project {
  }
}
