@import "../../src/scss/for-blocks";

.recent-product-project {
  padding-top: 4.5rem;

  .row {
    width: 100%;
  }

  &__title {
    display: none;
  }

  &__slider {
    width: 100vw;
    margin-left: -2rem;
  }

  .slick-track {
    display: flex;
  }

  &__project {
    flex-flow: column;
    height: inherit;

    &-title {
      margin-bottom: 2rem;
    }

    &-content {
      padding: 0 2rem;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &-description,
    &-button {
      margin-bottom: 3rem;
    }

    &-button {
      display: inline-block;
      margin-top: auto;
    }

    .slick-list {
      overflow: visible;
    }

    &.slick-slide {
      display: flex;
      justify-content: space-between;
    }

    &-image {
      width: 100vw;
      min-height: 230px;
      aspect-ratio: 16 / 10;
      background-position: center;
      background-size: cover;
    }
  }
}

@include min-size(md) {
  .recent-product-project {
    padding-top: 8.5rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: flex-start;

    &__title {
      display: block;
      margin-bottom: 4rem;
    }

    &__slider {
      width: 100%;
      margin-left: 0;
    }

    .slick-slide {
      display: flex;
    }

    &__project {
      width: 100%;
      flex-flow: row;
      justify-content: space-between;
      background-color: var(--off-white);

      &-content {
        width: 60%;
        padding: 7.2rem 5.6rem 9.3rem;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
      }

      &-title,
      &-description {
        margin-bottom: 4rem;
      }

      &-button {
        margin-bottom: 0;
      }

      &-image {
        width: 40%;
        max-width: 382px;
        min-height: unset;
        margin-left: 0;
        aspect-ratio: unset;
      }
    }
  }
}
